body{
    background-color: rgb(238, 238, 238);
}
.container{
    width: 1150px; height: 350px;
    margin: auto;
    margin-top: 50px;
    background-color: white;
    padding-left: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.img{
    float: right;
    padding-right: 20px;
    padding-top: 30px;
}
.btn1{
    border: none;
    background-color: darkslateblue;
    color: white;
    padding: 10px 30px;
    cursor: pointer;
}
.btn2{
    margin: 30px;
    text-decoration: none;
}
.brand{
    width: 950px; height: 100px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.iconebrands{
    padding: 25px;
}
.model{
    width: 1150px; height: 350px;
    margin: auto;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.img2{
    float: left;
    padding-top: 50px;
    padding-right: 40px;
    padding-left: 20px;
}
.Description{
    padding-right: 5px;
}
.btn3{
    text-decoration: none;
}