.btn1{
    margin: 30px;
    text-decoration: none;
}
.brand{
    width: 1000px; height: 100px;
    margin: auto;
}
.iconebrands{
    padding: 25px;
}
.model{
    width: 1000px; height: 400px;
    margin: auto;
}

.Description{
    padding: 5px;
}

