<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="./Product.css" rel="stylesheet">
    <style>
        *{
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    
    <!--product-->
    <div class="bakhsh3"><h1>Our Collection Cars</h1>
        <div class="bakhshdakheli">
            <div class="s1"><img src="./1.jpg">
                <h1>Porshe2020</h1>
                <a>80.59$</a>
                <a href="#" id="t">Booking Now</a>
            </div>
        
                    <div class="s2"><img src="./2.jpg">
                        <h1>Dog Chalenger2023</h1>
                        <a>180.54$</a>
                        <a href="#" id="t"> Booking Now</a>
                </div>
               
                    <div class="s3"><img src="./2023-07-07_17-06-46.jpg">
                        <h1>Dog Chalenger2019</h1>
                        <a>96.57$</a>
                        <a href="#" id="t">Booking Now</a>
                </div>
                
        </div>
        <div class="bakhshdakheli">
            <div class="s1"><img src="./3.jpg">
                <h1>BMW SX</h1>
                <a>80.59$</a>
                <a href="#" id="t">Booking Now</a>
            </div>
        
                    <div class="s2"><img src="./2023-07-07_20-42-23.jpg">
                        <h1>Benz a5</h1>
                        <a>180.54$</a>
                        <a href="#" id="t"> Booking Now</a>
                </div>
               
                    <div class="s3"><img src="./7s.jpg.">
                        <h1>Toyota 2023</h1>
                        <a>96.57$</a>
                        <a href="#" id="t">Booking Now</a>
                </div>
                
        </div>
    </div>
</body>
</html>